
<div class="row batukeira-es">
  <div>
    Batukeira® es un método 100% natural que quema la grasa
interna y externa de todo el cuerpo al mismo tiempo. Sin hacer
dietas, sin hacer ejercicio.
  </div>
  <strong>Bajar de peso nunca había sido tan sencillo.</strong>
</div>

<div class="row como-funciona">
  <div class="row">
    <div class="titulo">¿Cómo funciona?</div>
  </div>
  <div class="row columnas">
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula
Batukeira® diaria.
        </div>
        <div class="descripcion">
          De preferencia por las
noches.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Sigue tu vida normal.
        </div>
        <div class="descripcion">
          No dietas. No ejercicio.
        </div>
      </div>
    </div>
    <div class="four columns">
      <div class="centrado-vertical">
        <div class="texto">
          Elimina la grasa y
baja de peso.
        </div>
        <div class="descripcion">
          Una nueva forma de vivir.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row capsulas-batukeira">
  <div class="eight columns">
    <div class="titulo">
      Cápsulas Batukeira®
    </div>
    <div class="descripcion">
      Creadas a base de algas marinas, nopal,
      bambú, jamaica, cha de bugre, toronja,
      mango y otras frutas. <br>
      <br>
      Ayudan a eliminar la grasa del cuerpo, no
      deja flacidez alivia el estreñimineto y reduce
      el colesterol. <span> Te ayudará a quemar de 3 a 6
      kilos en un mes. </span>
    </div>
  </div>
  <div class="four columns">

  </div>
</div>

<div class="row ya-usas-batukeira">
  <div class="titulo">¿Ya usas Batukeira®?</div>
  <div class="descripcion">Complementa tu tratamiento y obtén los
mejores resultados.</div>
</div>

<div class="row capsulas-batukeira">
  <div class="eight columns">
    <div class="titulo">
      Gel Batukeira®
    </div>
    <div class="descripcion">
      Creadas a base de algas marinas, bambú,
romero, toronja, piña, lima, mango, ruda,
menta, Gotu Kola, colágeno y elastina.
<br><br>
Sirve para complementar las Cápsulas
Batukeira®. Al aplicarse en la piel, ayuda a
evitar la flacidez, estrías y piel de naranja al
bajar de peso.
<br><br>
Usarlo 2 veces al día, equivale a realizar 50
minutos de ejercicio o 150 abdominales,
dependiendo del lugar del cuerpo donde se
ponga.
    </div>
  </div>
  <div class="four columns">

  </div>
</div>
