
<div class="row batukeira-es">
  <div>
      This defines the alignment along the main axis. It helps distribute extra free space left over when either all the flex items on a line are inflexible, or are flexible but have reached their maximum size. It also exerts some control over the alignment of items when they overflow the line.
  </div>
  <strong>Bajar de peso nunca había sido tan sencillo.</strong>
</div>

<div class="row como-funciona">
  <div class="row">
    <div class="titulo">¿Cómo funciona?</div>
  </div>
  <div class="row">
    <div class="four columns divisiones">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula de Batukeira Diaria
        </div>
        <div class="descripcion">
          De preferencia en las noches
        </div>
      </div>
    </div>
    <div class="four columns divisiones">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula de Batukeira Diaria
        </div>
        <div class="descripcion">
          De preferencia en las noches
        </div>
      </div>
    </div>
    <div class="four columns divisiones">
      <div class="centrado-vertical">
        <div class="texto">
          1 Cápsula de Batukeira Diaria
        </div>
        <div class="descripcion">
          De preferencia en las noches
        </div>
      </div>
    </div>
  </div>
</div>
