<!DOCTYPE html>
<html>
<head>
  <title>Batukeira</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,300' rel='stylesheet' type='text/css'>
</head>
<body>
<span class="ms-mq-test"></span>
<nav class="nav-bar">
  <a href="">Batukeira</a>
  <a href="">Comprar</a>
  <a href="">Casos de Éxito</a>
  <a href="">Distribuir</a>
  <a href="">Contacto </a>
</nav>

<div class="container-fitted">
  <%= yield %>
</div>

</body>
</html>
